<!doctype html>
<html>
<head>
<title>朝陽MIT</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<meta charset=utf-8>
</head>
<body>
{% if error %}
 <p class=error>{{error}}</p>
{% endif %} 
<div class="main-content">

        <form class="form-login" method=post action={% url 'accounts:userLogin' %}>

            {% csrf_token %}

            <div class="form-log-in-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1>歡迎登入！</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>帳號：</span>
                            <input type=text name=username><br>
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>密碼：</span>
                            <input type=password name=password><br>
                        </label>
                    </div>

                    <div class="form-row">
                        <button type="submit">登入</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>