{% extends 'main/main.html' %}
{% block contentName %}拜訪單{% endblock %}
{% block content %}
<p><a href="{% url 'visits:create' %}">新增拜訪單</a></p>
<table>
  <tr>
    <th>拜訪機構</th><th>拜訪日期</th><th>摘要</th>
  </tr>
  {% for visit in visits %}
  <tr>
    <td><a href="{% url 'visits:getVisit' visit.id %}">{{visit.company}}</a></td>
    <td>{{visit.date}}</td>
    <td>{{visit.suggest}}</td>
    <td>
      <form method=post action={% url 'visits:deleteVisit' visit.id %}>
        {% csrf_token %}
        <input type=submit value=刪除>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
